<div class="col-md-6 col-lg-3 ftco-animate">
  <div class="product" style = "text-align: center;">
    <%#= raw product.the_link_thumb() if product.has_thumb?%>
    <% if product.has_thumb? %>
      <%= product.the_link_thumb({}, {style: "width: 150px;"}) %>
    <% else %>
      <img class="img-fluid" src="/assets/themes/e_shop_new/assets/images/product-1.jpg">
    <% end %>
    <div class="overlay"></div>
    <div class="text py-3 pb-4 px-3 text-center">
      <h3>
        <a href="<%= product.the_url %>"><%= product.the_title %></a>
      </h3>
      <div class="d-flex">
        <div class="pricing">
          <p class="price"><span class="mr-2 price-dc"></span><%= product.price %>
        </div>
      </div>
    </div>
  </div>
</div>
